<!-- <!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Team Success Prediction App</title>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" name="level"></input><br>
            <input type="text" name="lang"></input><br>
            <input type="text" name="tweets"></input><br>
            <input type="text" name="phd"></input><br>
            <input type="submit" value="Predict Team Success!"></input>
          </form>
          <p>Prediction: {{prediction}}</p>
    </body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Team Success Prediction App</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-image: url(https://www.yardbarker.com/media/d/2/d28053ffd11d8c5883c01f1d9e6ef6643276ea00/thumb_16x9/warriors.jpg?v=1);
        }
        .row{
            background: white;
            border-radius: 30px;
            box-shadow: 12px 12px 22px grey;
        }
        img{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        .container {
            position: relative;
        }
        .btn1{
            width: 100%;
        }
        .btn2{
            width: 57%;
            background-color: red;
            border-color: red;
        }
        .center1{
            padding-top: 100px;
            margin: auto;
        }
        .wrapper{
            display: grid; 
            grid-template-columns: 2fr 1fr;
        }
    </style>
  </head>
  <body>

    <section class="Form my-4 mx-4 center1">
        <div class="container">
            <div class="row no gutters">
                <div class="col-lg-5">
                    <img src="https://seeklogo.com/images/N/nba-75-years-logo-7E38B318A3-seeklogo.com.png" width="500", height="500" class="img-fluid mt-5" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bodl py-3">NBA Team Success Predictor</h1>
                        <form action="/" method="post">
                            <div class="wrapper">
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <p>Player Name</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <p>Season</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="Point Guard" name="pg" class="form-control my-1 p-2">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <select name="pg_szn">
                                        <option value="21">20-21</option>
                                        <option value="20">19-20</option>
                                        <option value="19">18-19</option>
                                        <option value="18">17-18</option>
                                        <option value="17">16-17</option>
                                        <option value="16">15-16</option>
                                        <option value="15">14-15</option>
                                        <option value="14">13-14</option>
                                        <option value="13">12-13</option>
                                        <option value="12">11-12</option>
                                        <option value="11">10-11</option>
                                        <option value="10">09-10</option>
                                        <option value="9">08-09</option>
                                        <option value="8">07-08</option>
                                        <option value="7">06-07</option>
                                        <option value="6">05-06</option>
                                        <option value="5">04-05</option>
                                        <option value="4">03-04</option>
                                        <option value="3">02-03</option>
                                        <option value="2">01-02</option>
                                        <option value="1">00-01</option>
                                        <option value="0">99-00</option>
                                        <option value="99">98-99</option>
                                        <option value="98">97-98</option>
                                        <option value="97">96-97</option>
                                        <option value="96">95-96</option>
                                        <option value="95">94-95</option>
                                        <option value="94">93-94</option>
                                        <option value="93">92-93</option>
                                        <option value="92">91-92</option>
                                        <option value="91">90-91</option>
                                    </select>
                                </div>
                            </div>
                              <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="Shooting Guard" name="sg" class="form-control my-1 p-2">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <select name="sg_szn">
                                        <option value="21">20-21</option>
                                        <option value="20">19-20</option>
                                        <option value="19">18-19</option>
                                        <option value="18">17-18</option>
                                        <option value="17">16-17</option>
                                        <option value="16">15-16</option>
                                        <option value="15">14-15</option>
                                        <option value="14">13-14</option>
                                        <option value="13">12-13</option>
                                        <option value="12">11-12</option>
                                        <option value="11">10-11</option>
                                        <option value="10">09-10</option>
                                        <option value="9">08-09</option>
                                        <option value="8">07-08</option>
                                        <option value="7">06-07</option>
                                        <option value="6">05-06</option>
                                        <option value="5">04-05</option>
                                        <option value="4">03-04</option>
                                        <option value="3">02-03</option>
                                        <option value="2">01-02</option>
                                        <option value="1">00-01</option>
                                        <option value="0">99-00</option>
                                        <option value="99">98-99</option>
                                        <option value="98">97-98</option>
                                        <option value="97">96-97</option>
                                        <option value="96">95-96</option>
                                        <option value="95">94-95</option>
                                        <option value="94">93-94</option>
                                        <option value="93">92-93</option>
                                        <option value="92">91-92</option>
                                        <option value="91">90-91</option>
                                    </select>
                                </div>
                            </div>
                              <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="Small Forward" name="sf" class="form-control my-1 p-2">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <select name="sf_szn">
                                        <option value="21">20-21</option>
                                        <option value="20">19-20</option>
                                        <option value="19">18-19</option>
                                        <option value="18">17-18</option>
                                        <option value="17">16-17</option>
                                        <option value="16">15-16</option>
                                        <option value="15">14-15</option>
                                        <option value="14">13-14</option>
                                        <option value="13">12-13</option>
                                        <option value="12">11-12</option>
                                        <option value="11">10-11</option>
                                        <option value="10">09-10</option>
                                        <option value="9">08-09</option>
                                        <option value="8">07-08</option>
                                        <option value="7">06-07</option>
                                        <option value="6">05-06</option>
                                        <option value="5">04-05</option>
                                        <option value="4">03-04</option>
                                        <option value="3">02-03</option>
                                        <option value="2">01-02</option>
                                        <option value="1">00-01</option>
                                        <option value="0">99-00</option>
                                        <option value="99">98-99</option>
                                        <option value="98">97-98</option>
                                        <option value="97">96-97</option>
                                        <option value="96">95-96</option>
                                        <option value="95">94-95</option>
                                        <option value="94">93-94</option>
                                        <option value="93">92-93</option>
                                        <option value="92">91-92</option>
                                        <option value="91">90-91</option>
                                    </select>
                                </div>
                            </div>
                              <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="Power Forward" name="pf" class="form-control my-1 p-2">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <select name="pf_szn">
                                        <option value="21">20-21</option>
                                        <option value="20">19-20</option>
                                        <option value="19">18-19</option>
                                        <option value="18">17-18</option>
                                        <option value="17">16-17</option>
                                        <option value="16">15-16</option>
                                        <option value="15">14-15</option>
                                        <option value="14">13-14</option>
                                        <option value="13">12-13</option>
                                        <option value="12">11-12</option>
                                        <option value="11">10-11</option>
                                        <option value="10">09-10</option>
                                        <option value="9">08-09</option>
                                        <option value="8">07-08</option>
                                        <option value="7">06-07</option>
                                        <option value="6">05-06</option>
                                        <option value="5">04-05</option>
                                        <option value="4">03-04</option>
                                        <option value="3">02-03</option>
                                        <option value="2">01-02</option>
                                        <option value="1">00-01</option>
                                        <option value="0">99-00</option>
                                        <option value="99">98-99</option>
                                        <option value="98">97-98</option>
                                        <option value="97">96-97</option>
                                        <option value="96">95-96</option>
                                        <option value="95">94-95</option>
                                        <option value="94">93-94</option>
                                        <option value="93">92-93</option>
                                        <option value="92">91-92</option>
                                        <option value="91">90-91</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="Center" name="c" class="form-control my-1 p-2">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <select name="c_szn">
                                        <option value="21">20-21</option>
                                        <option value="20">19-20</option>
                                        <option value="19">18-19</option>
                                        <option value="18">17-18</option>
                                        <option value="17">16-17</option>
                                        <option value="16">15-16</option>
                                        <option value="15">14-15</option>
                                        <option value="14">13-14</option>
                                        <option value="13">12-13</option>
                                        <option value="12">11-12</option>
                                        <option value="11">10-11</option>
                                        <option value="10">09-10</option>
                                        <option value="9">08-09</option>
                                        <option value="8">07-08</option>
                                        <option value="7">06-07</option>
                                        <option value="6">05-06</option>
                                        <option value="5">04-05</option>
                                        <option value="4">03-04</option>
                                        <option value="3">02-03</option>
                                        <option value="2">01-02</option>
                                        <option value="1">00-01</option>
                                        <option value="0">99-00</option>
                                        <option value="99">98-99</option>
                                        <option value="98">97-98</option>
                                        <option value="97">96-97</option>
                                        <option value="96">95-96</option>
                                        <option value="95">94-95</option>
                                        <option value="94">93-94</option>
                                        <option value="93">92-93</option>
                                        <option value="92">91-92</option>
                                        <option value="91">90-91</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                              <div class="form-row">
                                <div class="col-lg-7">
                                    <button type="submit" width="" class="btn btn-outline-primary mt-3 mb-3 p-2 btn1">Predict Team Success!</button>
                                </div>
                            </div>
                            {% if prediction|string() == "GOATED"|string() %}
                            <button type="button" class="btn btn-success mb-4 p-2 btn2">{{ prediction }}</button>

                            {% elif prediction|string() == "False"|string() %}
                            <button type="button" class="btn btn-warning  mb-4 p-2 btn2">{{ prediction }}</button>
                            {% else %}
                            <button type="button" class="btn  mb-4 p-2 btn2">{{ prediction }}</button>
                            {% endif %}
                        </form>
                 </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>