<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Team Success Prediction App</title>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" name="pg"></input><br>
            <input type="text" name="sg"></input><br>
            <input type="text" name="sf"></input><br>
            <input type="text" name="pf"></input><br>
            <input type="text" name="c"></input><br>
            <input type="submit" value="Predict Team Success!"></input>
          </form>
          <p>Prediction: {{prediction}}</p>
    </body>
</html>